/* UNIVERAL */
.left
{
	position: absolute;
	left: 0%;
}
.center
{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.right
{
	position: absolute;
	right: 0%;
}

.centerLabel
{
	position: fixed;
	text-align: center;
	
    width: 15%;
	left: 42.5%;
	top: 40%;
}


/* PLACEMENT BELOW EACH OTHER */
#divPlec
{
	margin-top: 0px;
}
#divRasa
{
	margin-top: 20px;
}
#divKlasa
{
	margin-top: 40px;
}
#divContinue
{
	margin-top: 80px;
}
/* PLACEMENT ON THE SIDES */
#divFoto
{
	position: fixed;
	width: 15%;
	height: 45%;
	left: 20%;
	top: 25%;
}
#divOpis
{
	position: fixed;
	width: 15%;
	height: 45%;
	right: 20%;
	top: 25%;
	border: 1px solid black;
}
/* IMAGE SIZE HANDLING */
#fotoContainer
{
	border: 1px solid black;
	
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 95%;
}
#foto
{
	max-width: none;
	max-height: none;
}
