.left
{
	position: absolute;
	left: 0%;
}
.center
{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.right
{
	position: absolute;
	right: 0%;
}
.arrow:hover
{
	cursor: pointer;
}

#divPlec
{
    position: relative;
    width: 200px;
	height: 20px;
    top: 10px;
    left: 10px;
}
#divRasa
{
	position: relative;
	width: 200px;
	height: 20px;
	top: 40px;
	left: 10px;
}
#divKlasa
{
	position: relative;
	width: 200px;
	height: 20px;
	top: 70px;
	left: 10px;
}
#divFoto
{
	position: fixed;
	width: 200px;
	height: 600px;
	top: 200px;
	right: 300px;
}