/* PLACEMENT BELOW EACH OTHER */
#divPlec
{
	margin-top: 0px;
}
#divRasa
{
	margin-top: 20px;
}
#divKlasa
{
	margin-top: 40px;
}
#divContinue
{
	margin-top: 100px;
}
/* PLACEMENT ON THE SIDES */
#divFoto
{
	position: fixed;
	width: 17%;
	height: 47%;
	left: 20%;
	top: 25%;
}
#divOpis
{
	position: fixed;
	width: 15%;
	height: 45%;
	right: 20%;
	top: 25%;
	border: 1px solid black;
	background: linear-gradient(beige,burlywood);
	
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	
	-webkit-box-shadow: inset 0px -10px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -10px 10px -5px rgba(0,0,0,0.75);
	box-shadow: inset 0px -10px 10px -5px rgba(0,0,0,0.75);
}
/* IMAGE SIZE HANDLING */
#fotoContainer
{
	border: 1px solid black;
	
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 95%;
	box-shadow: inset 0 0 10px black;
}