.itemSlot
{
	width: 12vh;
	height: 12vh;
	background: beige;
	margin: 0.7vh;
}
.itemHover
{
	display: none;
	position: fixed;
	
	padding: 7px;
	z-index: 5;
	border: 1px solid black;
	box-shadow: inset 0 0 5px black;
	background: linear-gradient(beige,burlywood);
}
.itemName
{
	font-weight: bold;
	text-align: center;
}
.divider
{
	height: 1px;
	background: dimgrey;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	margin-bottom: 4px;
}
.itemDamage
{
	color: darkorange;
	display: inline-block;
}
.itemAttackSpeed
{
	color: darkgreen;
	display: inline-block;
}
.itemCritChance
{
	color: dimgray;
	display: inline-block;
}
.itemArmor
{
	color: brown;
	display: inline-block;
}
.itemMovement
{
	color: darkblue;
	display: inline-block;
}
.itemSila
{
	color: darkred;
	display: inline-block;
}
.itemZwinnosc
{
	color: darkgreen;
	display: inline-block;
}
.itemCelnosc
{
	color: darkgreen;
	display: inline-block;
}
.itemKondycja
{
	color: darkred;
	display: inline-block;
}
.itemInteligencja
{
	color: darkblue;
	display: inline-block;
}
.itemWiedza
{
	color: darkblue;
	display: inline-block;
}
.itemCharyzma
{
	color: darkorange;
	display: inline-block;
}
.itemSzczescie
{
	color: darkorange;
	display: inline-block;
}
.itemDmgOgien
{
	color: darkred;
	display: inline-block;
}
.itemDmgWoda
{
	color: darkblue;
	display: inline-block;
}
.itemDmgPowietrze
{
	color: dimgray;
	display: inline-block;
}
.itemDmgZiemia
{
	color: darkbrown;
	display: inline-block;
}


#divMainOkno
{
	padding: 0.5vh;
}
.normal
{
	background: linear-gradient(lavenderblush, beige);
}
.magic
{
	background: linear-gradient(cadetblue, beige);
}
.rare
{
	background: linear-gradient(darkmagenta, beige);
}
.legendary
{
	background: linear-gradient(darkorange, beige);
}
.blank
{
	background: linear-gradient(beige, beige);
}



#equipment
{
	margin-top: 13.6vh;
	float: left;
}
#backpack
{
	margin-top: -0.2vh;
	float: right;
	height: 100%;
}
.equipment
{
	float: left;
	box-shadow: inset 0 0 10px black;
	border: 1px solid black;
}
.backpack
{
	float: right;
	box-shadow: inset 0 0 10px black;
	border: 1px solid black;
}
#amulet, #lefthand, #gloves
{
	clear: left;
}
#bp0, #bp3, #bp6, #bp9, #bp12
{
	clear: right;
}

.scale100
{
	width: 100%;
	height: 100%;
}
.scale70
{
	width: 70%;
	height: 70%;
}
.scale50
{
	width: 50%;
	height: 50%;
}
.fotoContainer2
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

