.itemSlot
{
	width: 12vh;
	height: 12vh;
	background: beige;
	margin: 0.7vh;
}


#divMainOkno
{
	padding: 1vh;
}
.normal
{
	background: linear-gradient(lavenderblush, beige);
}
.magic
{
	background: linear-gradient(cadetblue, beige);
}
.rare
{
	background: linear-gradient(darkmagenta, beige);
}
.legendary
{
	background: linear-gradient(darkorange, beige);
}
.blank
{
	background: linear-gradient(beige, beige);
}


#equipment
{
	margin-top: 13.7vh;
	float: left;
}
#backpack
{
	float: right;
}
.equipment
{
	float: left;
	box-shadow: inset 0 0 10px black;
	border: 1px solid black;
}
.backpack
{
	float: right;
	box-shadow: inset 0 0 10px black;
	border: 1px solid black;
}
#amulet, #lefthand, #gloves
{
	clear: left;
}
#bp0, #bp3, #bp6, #bp9, #bp12
{
	clear: right;
}


.fotoContainer2
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

