.itemHover
{
	display: none;
	position: fixed;
	
	padding: 7px;
	z-index: 5;
	border: 1px solid black;
	box-shadow: inset 0 0 5px black;
	background: linear-gradient(beige,burlywood);
}
.itemName
{
	font-weight: bold;
	text-align: center;
}
.normalName
{
	color: black;
}
.magicName
{
	color: DarkSlateBlue;
}
.rareName
{
	color: SeaGreen;
}
.legendaryName
{
	color: DarkMagenta;
}

.divider
{
	height: 1px;
	background: dimgrey;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	margin-bottom: 5px;
	margin-top: 3px;
}
.itemDamage
{
	color: darkorange;
	display: inline-block;
}
.itemAttackSpeed
{
	color: darkgreen;
	display: inline-block;
}
.itemCritChance
{
	color: dimgray;
	display: inline-block;
}
.itemArmor
{
	color: brown;
	display: inline-block;
}
.itemMovement
{
	color: darkblue;
	display: inline-block;
}
.itemSila
{
	color: darkred;
	display: inline-block;
}
.itemZwinnosc
{
	color: darkgreen;
	display: inline-block;
}
.itemCelnosc
{
	color: darkgreen;
	display: inline-block;
}
.itemKondycja
{
	color: darkred;
	display: inline-block;
}
.itemInteligencja
{
	color: darkblue;
	display: inline-block;
}
.itemWiedza
{
	color: darkblue;
	display: inline-block;
}
.itemCharyzma
{
	color: darkorange;
	display: inline-block;
}
.itemSzczescie
{
	color: darkorange;
	display: inline-block;
}
.itemDmgOgien
{
	color: darkred;
	display: inline-block;
}
.itemDmgWoda
{
	color: darkblue;
	display: inline-block;
}
.itemDmgPowietrze
{
	color: dimgray;
	display: inline-block;
}
.itemDmgZiemia
{
	color: darkbrown;
	display: inline-block;
}
.itemPrice
{
	font-size: 1vh;
	text-align: right;
}



.greenArrow
{
	color: green; 
	font-weight: bold;
}
.redArrow
{
	color: red;
	font-weight: bold;
}
.equalArrow
{
	color: blue;
	font-weight: bold;
}



.normal
{
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.normal:hover
{
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.magic
{
background: #b7deed; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.magic:hover
{
background: #e0f3fa; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.rare
{
background: #bfd255; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.rare:hover
{
background: #9dd53a; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.legendary
{
background: #fcecfc; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.legendary:hover
{
background: #f9f9f9; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f9f9f9 0%, #f2c8f7 38%, #f9aee2 50%, #fba6e1 50%, #f9a9dd 51%, #ff7cd8 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #f9f9f9 0%,#f2c8f7 38%,#f9aee2 50%,#fba6e1 50%,#f9a9dd 51%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #f9f9f9 0%,#f2c8f7 38%,#f9aee2 50%,#fba6e1 50%,#f9a9dd 51%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ff7cd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.blank
{
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.itemSlot
{
	width: 12vh;
	height: 12vh;
	margin: 0.1vh;
}
#equipmentOuter, #shopOuter
{
	left: 3vh;
}
#backpackOuter
{
	right: 3vh;
}
#sellOuter
{
	top: 24.9vh;
	right: 45.0vh;
}
#equipmentOuter, #backpackOuter, #sellOuter, #shopOuter
{
	display: table;
    position: absolute;
    height: 100%;
	width: 50%;
}
#equipmentInner, #backpackInner, #sellInner, #shopInner
{
	display: table-cell; 
	vertical-align: middle;
	width: auto;
}
.sell
{
	float: right;
	box-shadow: inset 0 0 10px black;
	border: 1px solid black;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.equipment, .shop
{
	float: left;
	box-shadow: inset 0 0 10px black;
	border: 1px solid black;
}
.backpack
{
	float: right;
	box-shadow: inset 0 0 10px black;
	border: 1px solid black;
}
#amulet, #lefthand, #gloves
{
	clear: left;
}
#shop0, #shop3, #shop6, #shop9, #shop12
{
	clear: left;
}
#bp0, #bp3, #bp6, #bp9, #bp12
{
	clear: right;
}
#divRemainingTime
{
	top: 23.5%;
	text-align: center;
	font-size: 4vh;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#divRemainingTimeLabel
{
	top: 22%;
	text-align: center;
	font-size: 3vhh;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fotoContainer2
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

