body
{
	font-family:Arial, Helvetica, sans-serif;
}
#divRejestracja
{
    position: fixed;
    left: 30%;
    top: 5%
}
#divLogowanie
{
    position: fixed;
    right: 30%;
    top: 5%;
}
#divLogo
{
    position: fixed;
    left: 50%;
    top: 5%;
}
#divWizard
{
    position: fixed;
	left: 3%;
	bottom: 3%;
}
#divMonster
{
    position: fixed;
	right: -30%;
	bottom: 3%;
}
#divMainOkno
{
    width: 70%;
    height: 70%;
    border: 3px solid black;
    position: fixed;
    left: 15%;
    top: 15%;
    background: linear-gradient(beige,burlywood);
}


/* ------------- ZDJĘCIA --------------- */

/* SCALING */
#wizardFoto
{
    height: auto;
    width: auto;
    max-width: 30%;
}
#monsterFoto
{
    height: auto;
    width: auto;
    max-width: 60%;
}
#logoFoto
{
    height: auto;
    width: auto;
    max-width: 30%;
}

/* SOURCES */
body
{
	background-image: url(gfx/simple-simple-background-hd-background.jpg);
}
#logoFoto 
{ 
	content: url(gfx/logo.png); 
}
#rejestracjaFoto 
{ 
	content: url(gfx/menu/rejestracja_000000.png); 
}
#logowanieFoto 
{ 
	content: url(gfx/menu/logowanie_000000.png); 
}
#wizardFoto
{
	content: url(gfx/wizard.png);
}
#monsterFoto
{
	content: url(gfx/monster.png);
}