body
{
	font-family:Arial, Helvetica, sans-serif;
}
#divRejestracja
{
    position: fixed;
    left: 30%;
    top: 5%;
	width: 10%;
}
#divLogowanie
{
    position: fixed;
    right: 30%;
    top: 5%;
	width: 10%;
}
#divMainOkno
{
    width: 70%;
    height: 70%;
    border: 3px solid black;
    position: fixed;
    left: 15%;
    top: 15%;
    background: linear-gradient(beige,burlywood);
}
#divWizard
{
    position: fixed;
	width: 20%;
	bottom: 0%;
}
#divMonster
{
    position: fixed;
	width: 20%;
	bottom: 1%;
	right: -3%;
}
#divLogo
{
    position: fixed;
	height: 40%;
	left: 50%;
	top: -5%;
	transform: translate(-50%);
}


/* ------------- ZDJĘCIA --------------- */

/* SCALING */
img
{
	max-width: 100%;
	max-height: 100%;
}

/* SOURCES */
body
{
	background-image: url(gfx/simple-simple-background-hd-background.jpg);
}
#logoFoto 
{ 
	content: url(gfx/logo.png); 
}
#rejestracjaFoto 
{ 
	content: url(gfx/menu/rejestracja_000000.png); 
}
#logowanieFoto 
{ 
	content: url(gfx/menu/logowanie_000000.png); 
}
#wizardFoto
{
	content: url(gfx/wizard.png);
}
#monsterFoto
{
	content: url(gfx/monster.png);
}

/* ------------- UTILITY -------------- */
.noselect
{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}