.dropdown
{
	position: relative;
	margin-top: 5px;
	text-align: center;
}
.dropdownButton
{
	padding: 5px;
	width: 15vw;
	text-align: center;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	font-size: 0.8vw;
}
.dropdownContent
{
	position: relative; /*absolute */
	z-index: 1;
	width: 15vw;
	max-height: 38.5vh;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.dropdownOption
{
	border-bottom: 1px solid black;
	padding: 5px;
	text-align: center;
}

#divPreparation
{
	position: absolute;
	top: 2vw;
	left: 0vw;
	width: 20vw;
	height: 90%;
}
#divCombat
{
	position: absolute;
	top: 2vw;
	right: 0vw;
	width: 20vw;
	height: 90%;
}
#divSpell
{
	position: absolute;
	top: 2vw;
	left: 50%;
	width: 17vw;
	height: 90%;
	transform: translateX(-50%);
}
#preparationTitle, #combatTitle
{
	width: 100%;
	font-size: 1vw;
	margin-bottom: 2vh;
}
#spellTitle
{
	font-size: 1.3vw;
	border-bottom: 0px;
}
#spellPhoto
{
	height: 45vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("gfx/spells/Kamienna skóra.jpg");
	border-bottom: 0px;
}
#spellFooter
{
	font-size: 0.8vw;
	max-height: 12.5vh;
}




.icon
{
	margin-left: 3px;
	height: 0.8em; 
	width: auto;  
	display: inline-block;
	background-size: cover;
	
    filter: drop-shadow(1px 1px 0 black);
			/*drop-shadow(-1px -1px 0 black);*/
}
.earth{
	content: url(gfx/earth.png);
}
.air{
	content: url(gfx/air4.png);
}
.fire{
	content: url(gfx/fire2.png);
}
.water{
	content: url(gfx/water2.png);
}
.spellName
{
	margin-left: 5px;
	display: inline-block;
	/*font-size: 0.9em;*/
}