.dropdown
{
	position: relative;
	float: left;
	clear: left;
	margin-top: 5px;
}
.dropdownButton
{
	padding: 5px;
	width: 100%;
	text-align: center;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	font-size: 0.9em;
}
.dropdownContent
{
	display: none;
	position: absolute;
	z-index: 1;
	width: 100%;
	max-height: 40vh;
	overflow-y: auto;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	
	border: 1px solid black;
}
.dropdownOption
{
	border-bottom: 1px solid black;
	padding: 5px;
	text-align: center;
}
.dropdownLast
{
	border-bottom: 0px solid black;
}

#divPreparation
{
	position: relative;
	top: 0.7vw;
	left: 1vw;
	width: 45%;
	height: 95%;
}
#preparationTitle
{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 1.2em;
}

.icon
{
	margin-left: 3px;
	height: 0.7em; 
	width: auto;  
	display: inline-block;
	
    filter: drop-shadow(1px 1px 0 black) 
			drop-shadow(-1px -1px 0 black);
}
.earth{
	content: url(gfx/earth3.png);
}
.air{
	content: url(gfx/air.png);
}
.fire{
	content: url(gfx/fire1.png);
}
.water{
	content: url(gfx/water.png);
}
.spellName
{
	margin-left: 3px;
	display: inline-block;
	font-size: 0.9em;
}