body
{
	font-family:Arial, Helvetica, sans-serif;
}

#divMainOkno
{
	width: 60%;
    height: 70%;
    border: 3px solid black;
    position: fixed;
    left: 20%;
    top: 15%;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

/* HP, MP, EXP bars */
.bar
{
	box-shadow: 0 8px 6px -6px black;
	font-family:Arial, Helvetica, sans-serif;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.outerBar
{
	border: 2px solid; 
	background: SeaShell;
	width: 100%;
	height: 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.innerBar
{
	height: 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.barText
{
	text-align: center;
	font-size: 1.8vh;
	margin-top: 0.3vh;
}



.mainHP
{
	position: fixed;
    left: 42.5%;
    top: 2.5%;
	width: 15%;
	height: 2.5%;
	
	border-radius: 15px;
}
.mainHP .outerBar
{
	border-radius: 15px;
	overflow: hidden;
}
.mainMP
{
	position: fixed;
	left: 42.5%;
	top: 5.5%;
	width: 15%;
	height: 2.5%;
}
.mainMP .outerBar
{
	border-radius: 15px;
	overflow: hidden;
}
.mainEXP
{
	position: fixed;
	left: 42.5%;
	top: 8.5%;
	width: 15%;
	height: 2.5%;
}
.mainEXP .outerBar
{
	border-radius: 15px;
	overflow: hidden;
}
#innerMana
{
	background-color: lightblue;
}
#innerExp
{
	background-color: gold;
}



/* GOLD, CRYSTALS ETC*/ 
#zlotoContainer
{
	position: fixed;
	left: 30%;
	top: 3%;
	width: 5%;
	height: 9%;
	text-align: center;
}
#zlotoTekst
{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 1.8vh;
}
#krysztalyContainer
{
	position: fixed;
	left: 36%;
	top: 3%;
	width: 5%;
	height: 9%;
	text-align: center;
}
#krysztalyTekst
{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
	font-size: 1.8vh;
}
#mailContainer
{
	position: fixed;
	right: 36%;
	top: 3%;
	width: 5%;
	height: 9%;
	text-align: center;
}
#mailTekst
{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
	font-size: 1.8vh;
}



/* IMAGES */
body{ background-image: url("/gfx/Fantasy-Background-Wallpapers.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover;}
#mainMenu { background-image: url(gfx/menu/menuglowne_000000.png); }
#postacMenu { background-image: url(gfx/menu/postac_000000.png); }
#equipmentMenu { background-image: url(gfx/menu/ekwipunek_000000.png); }
#wyprawaMenu { background-image: url(gfx/menu/wyprawa_000000.png); }
#logoutMenu { background-image: url(gfx/menu/logout_000000.png); }
#magiaMenu { background-image: url(gfx/menu/magia_000000.png); }
#arenaMenu { background-image: url(gfx/menu/arena_000000.png); }
#divMainOkno { background-image: url("gfx/background.png"); background-repeat: no-repeat; background-position: center; background-size: cover;}



/* NAVBAR */
nav ul
{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B8813D;/*#8A5B39; /*#724B2F; /*#805E3C; /*#5a2d0c;*/
    overflow: auto;
    border: 3px solid black;
	
	width: 12%;
	height: 70%;
	left: 0%;
	top: 15%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
/* NAVBAR ELEMENT */
nav li a
{
    text-align: center;
    display: block;
    border-bottom: 1px solid black;
	transition-duration: 0.3s;
	
	width: 100%;
	height: 10%;
}
nav li a:hover
{
    background-color: burlywood;
}
nav .active
{
    background-color: beige;/*#9d4e15;*/
}



/* UTILITY */
.fotoContainer
{
	border: 1px solid black;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 10px black;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.menuContainer
{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	height: 100%;
	box-shadow: inset 0 0 3px black;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.noselect
{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.arrow:hover
{
	cursor: pointer;
}
.nocursor:hover
{
	cursor: none;
}
.left
{
	position: absolute;
	left: 0%;
}
.center
{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.right
{
	position: absolute;
	right: 0%;
}


/* ----------- BUTTONS ------------------ */
.orange {
	color: black;
	border: 1px solid black;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: black;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}