body
{
	font-family:Arial, Helvetica, sans-serif;
}

#divMainOkno
{
	width: 60%;
    height: 70%;
    border: 3px solid black;
    position: fixed;
    left: 20%;
    top: 15%;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

/* HP, MP, EXP bars */
.bar
{
	box-shadow: 0 8px 6px -6px black;
	font-family:Arial, Helvetica, sans-serif;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.outerBar
{
	border: 2px solid; 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	width: 100%;
	height: 100%;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.innerBar
{
	height: 100%;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.barText
{
	text-align: center;
	font-size: 1.9vh;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translateY(-50%);
	margin: 0.2vh;
}


#divPlayerBars
{
	position: relative;
	top: 2.5%;
}
#barmainHP, #barmainMP, #barmainEXP
{
	position: relative;
	left: 50%;
	width: 15%;
	height: 2.5%;
	transform: translateX(-50%);
}
#barmainHP .outerBar, #barmainMP .outerBar, #barmainEXP .outerBar
{
	border-radius: 15px;
	overflow: hidden;
}
#innerMana
{
	background-color: lightblue;
}
#innerExp
{
	background-color: gold;
}



/* GOLD, CRYSTALS ETC*/ 
#zlotoContainer
{
	position: fixed;
	left: 30%;
	top: 3%;
	width: 5%;
	height: 9%;
	text-align: center;
}
#zlotoTekst, #krysztalyTekst, #mailTekst, #journeyTekst
{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 1.8vh;
}
#krysztalyContainer
{
	position: fixed;
	left: 36%;
	top: 3%;
	width: 5%;
	height: 9%;
	text-align: center;
}
#mailContainer
{
	position: fixed;
	right: 36%;
	top: 3%;
	width: 5%;
	height: 9%;
	text-align: center;
}
#journeyContainer
{
	position: fixed;
	right: 30%;
	top: 3%;
	width: 5%;
	height: 9%;
	text-align: center;
}



/* IMAGES */
body{ background-image: url("/gfx/Fantasy-Background-Wallpapers.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover;}
#mainMenu { background-image: url(gfx/menu/menuglowne_000000.png); }
#postacMenu { background-image: url(gfx/menu/postac_000000.png); }
#equipmentMenu { background-image: url(gfx/menu/ekwipunek_000000.png); }
#wioskaMenu { background-image: url(gfx/menu/wioska_000000.png); }
#shopMenu { background-image: url(gfx/menu/handlarz_000000.png); }
#wyprawaMenu { background-image: url(gfx/menu/wyprawa_000000.png); }
#logoutMenu { background-image: url(gfx/menu/logout_000000.png); }
#magiaMenu { background-image: url(gfx/menu/magia_000000.png); }
#arenaMenu { background-image: url(gfx/menu/arena_000000.png); }
#divMainOkno { background-image: url("gfx/background.png"); background-repeat: no-repeat; background-position: center; background-size: cover;}
nav ul { background-image: url("gfx/background.png"); background-repeat: no-repeat; background-position: center; background-size: cover;}


/* NAVBAR */
nav ul
{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B8813D;/*#8A5B39; /*#724B2F; /*#805E3C; /*#5a2d0c;*/
    overflow: auto;
    border: 3px solid black;
	
	width: 12%;
	height: 70%;
	left: 0%;
	top: 15%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
/* NAVBAR ELEMENT */
nav li a
{
    text-align: center;
    display: block;
    border-bottom: 1px solid black;
	transition-duration: 0.3s;
	
	width: 100%;
	height: 10%;
}
nav li a:hover
{
    background-color: #f1f1f1;
}
nav .active
{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/* UTILITY */
.fotoContainer
{
	border: 1px solid black;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 10px black;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.menuContainer
{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	height: 100%;
	box-shadow: inset 0 0 3px black;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.noselect
{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.arrow:hover
{
	cursor: pointer;
}
.nocursor:hover
{
	cursor: none;
}
.left
{
	position: absolute;
	left: 0%;
}
.center
{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.right
{
	position: absolute;
	right: 0%;
}





.orange {
	color: black;
	border: 1px solid black;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: black;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.whiteGradient{
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.whiteGradientHover{
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.whiteGradientHover:hover{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45def, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.divider{
	height: 1px;
	background: dimgrey;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	margin-top: 3px;
	margin-bottom: 3px;
}
.whiteText{
	color: white;
}
.whiteShadow{
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.blackText{
	color: black;
}
.blackShadow{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.clearLeft{
	clear: left;
}
.clearRight{
	clear: right;
}
.bold{
	font-weight: bold;
}
.asText{
	display: inline-block;
}
.centerText{
	text-align: center;
}
.fullWidth{
	width: 100%;
}
.paddingVertical{
	padding-top: 5px;
	padding-bottom: 5px;
}
.paddingFull{
	padding: 5px;
}
.blackBorder{
	border: 1px solid black;
}
.borderBox{
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.italic{
	font-style: italic;
}
.justify{
	text-align: justify;
}
.scrollable
{
	overflow-y: auto;
}
.scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.scrollable::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
.scrollable::-webkit-scrollbar-thumb
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
