#zdjecie
{
	position: fixed;
	width: 16%;
	height: 48%;
	left: 23%;
	top: 22%;
	
	border: 2px solid black;
}
#podpis
{
	position: fixed;
	width: 16%;
	height: 8%;
	left: 23%;
	top: 70%;
	
	border: 2px solid black;
	box-shadow: inset 0 0 10px black;
	/*background: linear-gradient(beige,burlywood);*/
	/*background-image: url("gfx/scroll.jpg"); background-repeat: no-repeat; background-position: center; background-size: fill;*/
	background: beige;
}
#nick
{
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	font-size: 3vh;
}
#podnick
{
	text-align: center;
	margin-top: 5px;
	font-size: 2vh;
}
#statystykiLabel
{
	text-decoration: underline;
	font-weight: bold;
}
/* STAT DISTRIBUTION */
#statystyki
{
	position: fixed;
	width: 15%;
	
	left: 42%;
	top: 22%;
	
	border: 2px solid black; 
	box-shadow: inset 0 0 10px black;
	/*background-image: url("gfx/scroll.jpg"); background-repeat: no-repeat; background-position: center; background-size: fill;*/
	background: beige;
	padding: 8px;
	padding-right: 10px;
	
}
#buttonStats
{
	padding: 5px;
	bottom: 5%;
	width: 100%;
	border-radius: 0px;
}
#pozostale
{
	display: inline-block;
}
.statContainer
{
	width: 100%;
	height: 20px;
	position: relative;
	clear: left;
}
.statLabel
{
	float: left;
	font-weight: bold;
}
.statMinus
{
	float: right;
	margin-right: 7%;
}
.statValue
{
	float: right;
	/*width: 15%;*/
	text-align: center;
}
.statPlus
{
	margin-left: 7%;
	float: right;
}
.buttonMinus, .buttonPlus
{
    border: 1px solid black;
    width: 16px;
    height: 16px;
    float: left;
    margin: 2px;
    font-size: 6px;
    border-radius: 50%;
    transition-duration: 0.3s;
    background-color: darkorange;
    color: white;
    text-align: center;
	box-shadow: inset 0 0 3px black;
	padding: 0px;
}
.buttonPlus
{
    background-color: darkgreen;
}
.buttonMinus:hover, .buttonPlus:hover 
{
    color: black;
    background-color: white;
}
.statHover
{
	display: none;
	position: fixed;
	width: 15%;
	padding: 7px;
	z-index: 5;
	border: 1px solid black;
	box-shadow: inset 0 0 5px black;
	background: linear-gradient(beige,burlywood);
}
.centerText
{
	text-align: center;
}