#divMainOkno
{
	overflow-y: scroll;
}
#divMainOkno::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#divMainOkno::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
#divMainOkno::-webkit-scrollbar-thumb
{
	background-color: SaddleBrown;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.building
{
	margin: 1%;
	height: 15vw;
	position: relative;
	clear: both;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingFoto
{
	width: 15vw;
	height: 15vw;
	position: relative;
	float: left;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingName
{
	position: absolute;
	bottom: 0vw;
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	text-align: center;
	
	font-size: 1.2vw;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background: rgba(0, 0, 0, 0.6);
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingLevel, .buildingButton
{
	position: absolute;
	padding: 0.4vw;
	
	font-size: 0.7vw;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background: rgba(0, 0, 0, 0.6);
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingButton
{
	right: 0vw;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingCosts
{
	border: 1px solid black;
	float: left;
	width: 7%;
	opacity: 0;
	height: 15vw;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.buildingDescription
{
	border: 1px solid black;
	float: left;
	margin-left: 1%;
	height: 15vw;
	width: 38vw;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.cost
{
	clear: both;
	margin: 10%;
}
.okCost
{
	float: right;
	color: white;
	font-size: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.noCost
{
	float: right;
	color: white;
	font-size: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.goldIcon
{
	height: 1em;
	width: auto;
	content: url(gfx/gold.png);
	float: left;
	margin-left: 1px;
}
.crystalIcon
{
	height: 1em;
	width: auto;
	content: url(gfx/crystals.png);
	float: left;
}


.buildingDescription
{
	margin-left: 1%;
	padding: 1%;
}
.descTitle
{
	text-align: center;
	font-size: 1.5vw;
}
.descSubtitle
{
	text-align: center;
	font-size: 1.0vw;
}
.divider
{
	height: 1px;
	background: dimgrey;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	margin-bottom: 2%;
	margin-top: 2%;
}
.description
{
	text-align: justify;
	font-size: 0.7em;
}
.aktualnyBonus, .nastepnyBonus
{
	float: right;
	clear: right;
}
.aktualnyBonusLabel, .nastepnyBonusLabel
{
	font-weight: bold;
	display: inline-block;
}
.bonusy
{
	position: absolute;
	bottom: 1vh;
	right: 2vh;
	
}


.buildingOver
{
	width: 100%;
	height: 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.notBuilt
{
	background: rgba(15, 13, 13, 0.8);
}

#goldmineFoto { background-image: url(gfx/buildings/goldmine.jpg); }
#crystalmineFoto { background-image: url(gfx/buildings/crystalmine.png); }
#traderFoto { background-image: url(gfx/buildings/rynek.jpg); }
#magetowerFoto { background-image: url(gfx/buildings/magetower.jpg); }
#healingFoto { background-image: url(gfx/buildings/healing.jpg); }
#manahealingFoto { background-image: url(gfx/buildings/manahealing.jpg); }
