#divMainOkno
{
	overflow-y: scroll;
}
#divMainOkno::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#divMainOkno::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
#divMainOkno::-webkit-scrollbar-thumb
{
	background-color: SaddleBrown;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/*Main div*/
.building
{
	margin: 1%;
	height: 15vw;
	position: relative;
	clear: both;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

/*Photo contents */
.buildingFoto
{
	width: 15vw;
	height: 15vw;
	position: relative;
	float: left;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingName
{
	position: absolute;
	bottom: 0vw;
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	text-align: center;
	
	font-size: 1.2vw;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background: rgba(0, 0, 0, 0.6);
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingLevel, .buildingButton
{
	position: absolute;
	padding: 0.4vw;
	
	font-size: 0.7vw;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background: rgba(0, 0, 0, 0.6);
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingButton
{
	right: 0vw;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.buildingOver
{
	width: 100%;
	height: 100%;
	
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	background: linear-gradient(to bottom, rgba(0,0,0,0.0) 51%, rgba(0,0,0,0.8));
}
#divRemainingTime
{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-size: 2.0vw;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.notBuilt
{
	background: rgba(0, 0, 0, 0.9);
}

/*Description*/
/*Container*/
.buildingDescription
{
	float: left;
	margin-left: 1%;
	height: 15vw;
	width: 42vw;
	padding: 7px;
	
	border: 1px solid black;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*Content*/
.descContent
{
	height: 80%;
	overflow-y: auto;
}
.descTitle
{
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
}
.descSubtitle
{
	text-align: center;
	font-size: 1.0vw;
}
.divider
{
	height: 1px;
	background: dimgrey;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
	margin-bottom: 1%;
	margin-top: 1%;
}
.descText
{
	text-align: justify;
	font-size: 0.8vw;
}

/* Footer of the description */
.descFooter
{
	position: relative;
	height: 20%;
	overflow-y: auto;
}
.buildingCosts
{
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.buildingBonuses
{	
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.cost
{
	float: left;
}
.enoughCost
{
	color: darkgreen;
}
.notEnoughCost
{
	color: darkred;
}

.bonus
{
	float: right;
	clear: right; 
}
.goldCost, .timeCost
{
	clear: left;
}


.goldIcon, .crystalIcon, .timeIcon 
{ 
	height: 0.8em; 
	width: auto; 
	content: url(gfx/gold.png); 
	display: inline-block;
} 
.crystalIcon 
{ 
	content: url(gfx/crystals_old.png);  
}
.timeIcon
{
	content: url(gfx/time.png);
}
.goldText, .crystalText, .timeText
{
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}
.bonusLabel
{
	display: inline-block;
	font-weight: bold;
}






#goldmineFoto { background-image: url(gfx/buildings/goldmine.jpg); }
#crystalmineFoto { background-image: url(gfx/buildings/crystalmine.png); }
#traderFoto { background-image: url(gfx/buildings/rynek.jpg); }
#magetowerFoto { background-image: url(gfx/buildings/magetower.jpg); }
#healingFoto { background-image: url(gfx/buildings/healing.jpg); }
#manahealingFoto { background-image: url(gfx/buildings/manahealing.jpg); }
