.left
{
	position: absolute;
	left: 10%;
	transform: translateX(-50%);
}
.center
{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.right
{
	position: absolute;
	right: 10%;
	transform: translateX(+50%);
}
.arrow:hover
{
	cursor: pointer;
	
}
.noselect
{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#divPlec
{
    position: relative;
    width: 150px;
	height: 20px;
    top: 10px;
    left: 10px;
}
#divRasa
{
	position: relative;
	width: 150px;
	height: 20px;
	top: 40px;
	left: 10px;
}