#helmetDiv {position: fixed; top: 255px; left: 590px}
#amuletDiv {position: fixed; top: 255px; left: 685px;}
#lefthandDiv {position: fixed; top: 355px; left: 495px;}
#chestDiv {position: fixed; top: 355px; left: 590px;}
#righthandDiv {position: fixed; top: 355px; left: 685px;}
#glovesDiv {position: fixed; top: 455px; left: 495px;}
#beltDiv {position: fixed; top: 455px; left: 590px;}
#ring1Div {position: fixed; top: 555px; left: 495px;}
#bootsDiv {position: fixed; top: 555px; left: 590px;}
#ring2Div {position: fixed; top: 555px; left: 685px;}



#slot1Div {position: fixed; top: 210px; left: 1155px;}
#slot2Div {position: fixed; top: 210px; left: 1250px;}
#slot3Div {position: fixed; top: 210px; left: 1345px;}
#slot4Div {position: fixed; top: 310px; left: 1155px;}
#slot5Div {position: fixed; top: 310px; left: 1250px;}
#slot6Div {position: fixed; top: 310px; left: 1345px;}
#slot7Div {position: fixed; top: 410px; left: 1155px;}
#slot8Div {position: fixed; top: 410px; left: 1250px;}
#slot9Div {position: fixed; top: 410px; left: 1345px;}
#slot10Div {position: fixed; top: 510px; left: 1155px;}
#slot11Div {position: fixed; top: 510px; left: 1250px;}
#slot12Div {position: fixed; top: 510px; left: 1345px;}
#slot13Div {position: fixed; top: 610px; left: 1155px;}
#slot14Div {position: fixed; top: 610px; left: 1250px;}
#slot15Div {position: fixed; top: 610px; left: 1345px;}





#davinci
{
	width: 310px;
	height: 450px;
	position: fixed;
	left: 476px;
	top: 220px;
	z-index: -5;
	background-image: url("/gfx/davinci.png");
	background-size: 100% 100%;
	opacity: 0.5;
}


#itemText
{
    position: fixed;
    border: 2px solid black;
    left: 795px;
    top: 210px;
    width: 330px;
    height: 480px;
    text-align: center;

	background: linear-gradient(bisque,burlywood);
	
	border-radius: 15px;
	box-shadow: 5px 5px 20px black;
	font-family:Arial, Helvetica, sans-serif;
}

.equipmentSlot
{
    position: fixed;
    z-index: 0;
    
    border: 2px solid black;
    width: 80px;
    height: 80px;
    cursor: pointer;
    
    
    background: brown;
    background: -webkit-radial-gradient(bisque, burlywood); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(bisque, burlywood); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(bisque, burlywood); /* For Firefox 3.6 to 15 */
    background: radial-gradient(burlywood,bisque); /* Standard syntax */
	
	border-radius: 15px;
	box-shadow: 5px 5px 20px black;
}
.imageContainer
{
    position: fixed;
    z-index: 1;

    width: 80px;
    height: 80px;

}
.itemImage
{
    position: fixed;
    z-index: 2;
    
    width: 80px;
    height: 80px;
    object-fit: contain;
}


#sellDiv {position: fixed; top: 610px; left: 1045px; z-index: 0;}
#sellImage {z-index: 0;}



