body
{
    background-image: url(gfx/simple-simple-background-hd-background.jpg);
	font-family:Arial, Helvetica, sans-serif;
}

#logoFoto { content: url(gfx/logo.png); }
#rejestracjaFoto { content: url(gfx/menu/rejestracja_000000.png); }
#logowanieFoto { content: url(gfx/menu/logowanie_000000.png); }


#divRejestracja
{
    position: fixed;
    left: 630px;
    top: 60px;
}
#divLogowanie
{
    position: fixed;
    right: 630px;
    top: 60px;
}

#divLogo
{
    position: fixed;
    left: 760px;
    top: -30px;
}
#logoFoto
{
    height: auto;
    width: auto;
    max-width: 400px;
}
#divMainOkno
{
    width: 1000px;
    height: 600px;
    border: 3px solid black;
    position: fixed;
    left: 460px;
    top: 150px;
    background: linear-gradient(beige,burlywood);
	font-family:Arial, Helvetica, sans-serif;
}
#wizardFoto
{
    height: auto;
    width: auto;
    max-width: 600px;
}
#divWizard
{
    position: fixed;
    bottom: -10px;
    left: 10px;
}
#monsterFoto
{
    height: auto;
    width: auto;
    max-width: 900px;
}
#divMonster
{
    position: fixed;
    bottom: -70px;
    right: -230px;
}







