#walkaOkno
{
    position: fixed;
    top: 360px;
    left: 495px;
    width: 900px;
    height: 350px;
    overflow-y: auto;
    border: 2px solid black;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	box-shadow:         inset 0 0 10px #000000;
	background: linear-gradient(beige,burlywood);
	font-family:Arial, Helvetica, sans-serif;
	
	opacity: 0;
}
#walkaOkno::-webkit-scrollbar {
    width: 20px;
}
#walkaOkno::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 50px;
}
#walkaOkno::-webkit-scrollbar-thumb {
	background-color: DarkGray;
	outline: 1px solid black;
	border-radius: 50px;
}

#divAtakera
{
    position: fixed;
    top: 170px;
	left: 1200px;
    border: 2px solid black;
    height: 150px;
    width: 120px;
	opacity: 0;
	background: yellow;
	
	border-radius: 10px;
	box-shadow: 5px 5px 20px black;
}
#divObroncy
{
    position: fixed;
    top: 170px;
	right: 1200px;
    border: 2px solid black;
    height: 150px;
    width: 120px;
	opacity: 0;
	background: yellow;
	
	border-radius: 10px;
	box-shadow: 5px 5px 20px black;
}
#hpAtakeraContainer
{
	position: fixed;
	top: 322px;
	left: 495px;
	opacity: 0;
	
	width: 120px;
	height: 15px;
	
	box-shadow: 0 8px 6px -6px black;
	font-family:Arial, Helvetica, sans-serif;
}
#hpObroncyContainer
{
	position: fixed;
	top: 322px;
	right: 500px;
	opacity: 0;
	
	width: 120px;
	height: 15px;
	
	box-shadow: 0 8px 6px -6px black;
	font-family:Arial, Helvetica, sans-serif;
}
#divVs
{
	width: 200px;
	height: 150px;
	left: 860px;
	top: 185px;
	position: fixed;
	opacity: 0;
	background-image: url("/gfx/vs.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
#charImage
{
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
	background: yellow;
	
	border-radius: 7px;
}